* {
    margin: 0;
}
.container {
    height: 180px;
}
.pattern {
    background-image: url(img/pattern.png); 
    background-color: #4ea1ff;
    height: 100%;
}
.img-item {
    max-width: 300px;
    padding-top: 50px;
    padding-left: 50px;
}
.maxi-container {
    margin: auto;
    max-width: 1000px;
}
#titolo {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
}
#colore-sottotitolo {
    color: #20aae5;
}
.sottotitolo {
    color: #acacac;
}
