* {
    margin: 0;
    padding: 0;
}

.container1 {
    width: 1200px;
    margin:auto;
}
.logo {
    width: 200px;
    margin-top:50px;
}

.container0 {
    background-image: url(img/pattern.png);
    height: 120px;
    background-color: #4ea1ff;
    background-size: auto 240px;
}


.maxi-container {
    margin: auto;
    max-width: 1200px;
}
#titolo {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
}
#colore-sottotitolo {
    color: #20aae5;
}
.sottotitolo {
    color: #acacac;   
}
#dimensione-sottotitolo {
    font-size: 10px;
}
.didascalia {
    font-size: 13px;
}
.img-parte1 {
    margin-top: 15px;
}
.paragrafo-1 {
    margin-top: 20px;
}
.lista {
    margin-top: 40px;
}
.yellow {
    background-color: #ffff00;
}

.grandezza1 {
    width: 20%;

}
.grandezza2 {
    width: 60%;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}   
.bluscuro {
    background-color: #20aae5;    
}
th, td {
    text-align: left;
  
}
th {
    color: white;
}

.blu-chiaro {
    background-color: #b1e5f2;
}

footer {
    margin-top: 20px;
    color: #808080;
}

.img1-sfondo {
    background-image: url(img/monitor.jpg);
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.img2-sfondo {
    background-image: url(img/graph.jpg);
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.formattazione {
    color: white;
    padding: 10px 10px;
}
